#header{
  height:60px;
  width:100%;
}
#head{
margin-left: 200px;
background-color: black;
color:white;
width:140px;
margin-top: 10px;
padding: 5px;
padding-top:7px;
padding-bottom: 7px;
border-radius: 5px;
}
#body{
  background-color: gainsboro;
  width:100%;
  height:800px;
  padding: 5px;
}
#filter{
  margin-left: 200px;
  height:300px;
  width:195px;
  background-color: white;
  padding: 10px;
  margin-top: 40px;
}
#head2{
  display: flex;
  border-bottom: 2px solid lightgray;
}
#head1{
 font-weight: bold;
 height:40px;

}
#reset{
  margin-left: 45px;
  margin-right: 0px;
  font-weight: bold;
  height:40px;
  
}
#lang{
  width:150px;

  
}
#label1{

margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
